{% extends 'base.html' %}

{% block head %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">

{% endblock %}

{% block title %}{{title}} {% endblock %}

{% block content %}

{% include "header.html" %}

<center>

    <form method="post" style= "width:500px">
        {% csrf_token %}
    <br>
    <h3> Modifica della password: </h3> <br>
    
        <label for="oldpassword">Inserisci vecchia password:</label>
        <input type="password" class="form-control" id="oldpassword" name="oldpassword" placeholder:"Insert your old password" Required>

        <label for="newpassword1">Inserisci la nuova password:</label>
        <input type="password" class="form-control" id="newpassword1" name="newpassword1" placeholder:"Insert your new password" Required>
    
        <label for="newpassword2">Reinserisci la nuova password:</label>
        <input type="password" class="form-control" id="newpassword2" name="newpassword2" placeholder:"Reinsert your new password" Required>
    
    <br>
    <button type="submit" class="btn btn-primary update_profile change_password">Modifica Password</button>
    <br>
    <br>

    {% for message in messages %}

    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
        <span aria-hidden="true">&times;</span>
        </button>
    </div>

    {% endfor %}
    <br>

    </form>

</center>

{% endblock %}