{% extends 'base.html' %}

{% block head %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">

{% endblock %}

{% block title %}{{title}} {% endblock %}

{% block content %}

{% include "header.html" %}

<center>
    <br>
    <h3>Crea il tuo account</h3>
    Utente già registrato? Effettua il  <a href="./signin"> Login </a>

    <form method="post" style= "width:500px">
        {% csrf_token %}
            <br>
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Create A Username (use only letters and numbers)" Required>

            <label for="fname">Nome:</label>
            <input type="text" class="form-control" id="fname" name="fname" placeholder="Enter Your First Name" Required>

            <label for="lname">Cognome:</label>
            <input type="text" class="form-control" id="lname" name="lname" placeholder="Enter Your Last Name" Required>

            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email Address" Required>

        {% if title == "client" %}

            <label for="birth_date">Data di Nascita:</label>
            <input type="date" class="form-control" id="birth_date" name="birth_date" Required>
        
            <label for="telephone">Telefono:</label>
            <input type="number" class="form-control" id="telephone" name="telephone" placeholder="Enter your Telephone" Required>
        
            <label for="address">Indirizzo:</label>
            <input type="text" class="form-control" id="address" name="address" placeholder="Enter your Address" Required>
        
            <label for="house_number">Numero civico:</label>
            <input type="number" class="form-control" id="house_number" name="house_number" placeholder="Enter your House Number" Required>
        
            <label for="city">Città:</label>
            <input type="text" class="form-control" id="city" name="city" placeholder="Enter your City" Required>
        
            <label for="province">Provincia:</label>
            <input type="text" class="form-control" id="province" name="province" placeholder="Enter your Province" Required>
        
            <label for="cap">CAP:</label>
            <input type="number" class="form-control" id="cap" name="cap" placeholder="Enter your CAP" Required>
        
        {% endif %}
        
        <label for="pass1">Password:</label>
        <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Create Your Password" Required>
    
        <label for="pass2">Reinserisci Password:</label>
        <input type="password" class="form-control" id="pass2" name="pass2" placeholder="Confirm Your Password" Required>
    
        <br>
        <button type="submit" class="btn btn-primary">Registrati</button>

        <br>
        <br>
        
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                <strong>Message:</strong> {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        <br>

    </form>

</center>

{% endblock %}