{% extends 'base.html' %}

{% block head %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">

{% endblock %}

{% block title %}{{title}} {% endblock %}

{% block content %}

{% include "header.html" %}

<center>
    <br>
    {% if listaclients.count > 0 %}
        <div class="container-fluid" style="background-color:white;border-radius:25px;">
            <br>
            <div class="row"> 

                {% if listaclients.count == 1 %}
                    <h3>  Un solo utente registrato:  </h3> 
                    <br> <br>
                {% else %}
                    <h3> {{listaclients.count}} utenti registrati: </h3> 
                    <br> <br>
                {% endif %}
                
                {% for l in listaclients %}
                    <div class="col-2">
                        <br>
                        <label for="username"> <b> Username: </b> {{l.user.username}} <br>
                        <label for="name"> <b> Nome: </b> {{l.user.first_name}} <br>
                        <label for="surname"> <b> Cognome: </b> {{l.user.last_name}} <br>
                        <label for="email"> <b> Email: </b> {{l.user.email}} <br>
                        <label for="birth_date"> <b> Data Nascita: </b> {{l.birth_date}} <br>
                        <label for="telephone"> <b> Telefono: </b> {{l.telephone}} <br>
                        <label for="address"> <b> Indirizzo: </b> {{l.address}} <br>
                        <label for="house_number"> <b> Numero Civico: </b> {{l.house_number}} <br>
                        <label for="city"> <b> Città: </b> {{l.city}} <br>
                        <label for="province"> <b> Province: </b> {{l.province}} <br>
                        <label for="cap"> <b> CAP: </b> {{l.cap}} <br>
                        <br>
                        <a class="btn btn-primary" onclick="return confirm('Sei sicuro di voler eliminare questo utente?')" href="delete_user/{{l.id}}" role="button">Elimina Utente</a>

                        <br> <br>
                    </div>
                {% endfor %}
            </div>
        </div>
        <br>
    {% else %}

        <h4> <b>Non sono presenti utenti registrati </b> </h4> <br> <br> 

    {% endif %}
  
</center>

{% endblock %}