{% extends 'base.html' %}

{% block head %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">

{% endblock %}

{% block title %}{{title}} {% endblock %}

{% block content %}

{% include "header.html" %}

<!-- Visualizzazione prodotti -->
<center>
    <br>
    <div class="container text-center">
       
        {% if user.is_staff %}
            <h3> Ordini dei miei prodotti: </h3>
        {% else %}
        <h3> I miei ordini: </h3> 
        {% endif %}

        {% if listaordini|length > 0 %}

            {% for ordine in listaordini %}
                <div class="container" style="background-color:white;border-radius: 25px;" >
                    <br>
                    <div class="row">
                        <div class="row" >
                            <br>
                            {% if user.is_staff %}
                                <h4> <b> Nome: </b> {{ordine.client.user.first_name}} </h4>
                                <h4> <b> Cognome: </b> {{ordine.client.user.last_name}} </h4>
                                <h4> <b> Email: </b> {{ordine.client.user.email}} </h4>
                            {% endif %}
                            <h4> <b> Ordine numero: </b> {{ordine.id_ordine}} </h4>
                            <h4> <b> Data: </b> {{ordine.date}} </h4>
                            <h4> <b> Indirizzo di consegna: </b> {{ordine.client.address}} {{ordine.client.house_number}}</h4>
                            <h4> <b> Stato: </b> Confermato </h4>
                            <h4> <b> Importo totale: </b> {{ordine.total_price}}€ </h4>
                            <br> <br> <br>
                            <h4> <b> Prodotti acquistati: </b> </h4>
                            <br>
                        </div>
                    {% for l in ordine.prodotti.all  %}
                        <div class="col-3" style="width=100px;">
                        <br>
                            <h4> <b> Prodotto: </b> {{l.item.name}} </h4>
                            <h4> <b> Quantità: </b> {{l.quantity}} </h4>
                            <h4> <b> Prezzo: </b> {{l.price}}€ </h4>
                            {% if not user.is_staff %}
                                <a href = "../../products/id/{{l.item.product_code}}"> <img src="{{ l.item.image.url }}" style="width:auto;height:100px"> </a>
                            {% else %}
                                <img src="{{ l.item.image.url }}" style="width:auto;height:100px">
                            {% endif %}
                        </div>       
                    {% endfor %}
                    </div> 
                    <br>
                </div>
                <br>
                {% endfor %}
            
        {% else  %}
            <div class="row">
                    <h5> Nessun ordine presente </h5> 
            </div>

        {% endif %}
    </div>
</center>


{% endblock %}