
<header class="header">

    <!-- Top Bar -->
    <div class="top_bar">
        <div class="container">
            <div class="row">
                <div class="col d-flex flex-row">
                    <div class="top_bar_contact_item"><div class="top_bar_icon"><img src="../../static/img/phone.png" class="img-fluid"></div>+39 349 18234567</div>
                    <div class="top_bar_contact_item"><div class="top_bar_icon"><img src="../../static/img/mail.png"  class="img-fluid"></div>contact@byteshop.com</div>
                    <div class="top_bar_content ml-auto">
                        <div class="top_bar_menu">
                            <ul class="standard_dropdown top_bar_dropdown">
                                <li>
                                    <a> Italiano <i class="fas fa-chevron-down"> </i> </a>
                                </li>
                                <li>
                                    <a> € EUR <i class="fas fa-chevron-down"> </i></a> 
                                </li>
                            </ul>
                        </div>
                        {% if user.is_authenticated %}
                        <div class="top_bar_user">
                            <div class="user_icon"><img src="../../static/img/user.svg"  class="img-fluid"></div>
                            <a>Benvenuto, {{user.username}}! </a>
                        </div>
                        
                        {% else%}

                        <div class="top_bar_user">
                            <div class="user_icon"><img src="../../static/img/user.svg"  class="img-fluid"></div>
                            <div><a href="../../authentication/client/signup">Registrati</a></div>
                            <div><a href="../../authentication/client/signin">Login</a></div>
                        </div>
                        {%endif%}
                    </div>
                </div>
            </div>
        </div>		
    </div>

    <!-- Header Main -->

    <div class="header_main">
        <div class="container">
            <br>
            <div class="row">

                <!-- Logo -->
                <div class="col-lg-2 col-sm-3 col-3 order-1">
                    <div class="logo_container">
                        <div class="logo"> <a href="../../ "> <img src="../../static/img/byte_shop_logo.png" class="img-fluid" alt="logo"> </a> </div>
                    </div>
                </div>

                <!-- Barra di ricerca -->
                <div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
                    <div class="header_search">
                        <div class="header_search_content">
                            <div class="header_search_form_container">
                                <form method="GET" action="{% url 'products:search' %}" class="header_search_form clearfix" >
                                    {% if not user.is_staff %}
                                        <input type="search" name="search" required="required" class="header_search_input" placeholder="Effettua ricerca...">
                                        <button type="submit" class="header_search_button trans_300" value="Submit"><img src="../../static/img/search.png" class="img-fluid" ></button>
                                    {% else %}
                                        <input type="search" name="search" required="required" disabled="disabled" class="header_search_input" placeholder="Effettua ricerca..." >
                                        <button type="submit" class="header_search_button trans_300" disabled="disabled" value="Submit"> <img src="../../static/img/search.png" class="img-fluid" ></button>
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Carrello, I miei ordini, profilo e logout -->
                {% if user.is_authenticated %}
                <div class="col-lg-4 col-9 order-lg-3 order-4 text-lg-left text-right">
                    <div class="orders_cart_profile d-flex flex-row align-items-center justify-content-end">
                        <div class="orders d-flex flex-row align-items-center justify-content-end">
                            {% if not user.is_staff %} <!-- Se utente amministratore nascondo "I miei ordini" -->
                            
                            <!-- Carrello -->
                            <div class="cart_content">
                                <div class="cart_icon">
                                    <img src="../../static/img/shop_cart.jpg"height="30" width="30"  alt="">
                                </div>
                                <div class="cart_text">
                                    <a href="../../cart/carrello">Carrello</a>
                                </div>
                            </div>

                            <!-- I miei ordini -->
                            <div class="orders_content">
                                <div class="orders_icon">
                                    <img src="../../static/img/orders_icon.png" height="30" width="25" alt="">
                                </div>
                                <div class="orders_text">
                                    <a href="../../orders/my_orders">I miei ordini</a>
                                </div>
                            </div>
                            {% endif %}

                            <!-- Mio profilo-->
                            <div class="profile_content">
                                <div class="profile_icon">
                                    <img src="../../static/img/icona_profilo.png" height="25" width="25" alt="">
                                </div>
                                    <div class="profile_text">
                                        <a href="../../authentication/profile"> Mio profilo</a>
                                    </div>
                            </div>
                            
                            <!-- Logout-->
                            {% if user.is_authenticated %}
                            <div class="logout-content">
                                <div class="logout_text">
                                    <a href="../../authentication/signout"> Logout </a> 
                                </div>
                            </div>
                            {% endif%}
                        </div>
                    </div>
                </div>
                {% endif%}
            </div>
        </div>
    </div>
    
    <!-- Main Navigation -->

    <nav class="main_nav">
        <div class="container">
            <div class="row">
                <div class="col">
                    
                    <div class="main_nav_content d-flex flex-row">

                        <!-- Main Nav Menu -->

                        <div class="main_nav_menu">
                            <ul class="standard_dropdown main_nav_dropdown">
                                <li><a href="../../ ">Home<i class="fas fa-chevron-down"></i></a></li>

                                {% if user.is_authenticated and user.is_staff%}
                                    <li> <a href="../../products/allproducts">Prodotti inseriti<i class="fas fa-chevron-down"> </i> </a>  </li>
                                {% else %}
                                    <li> <a href="../../products/allproducts"> Tutti i Prodotti<i class="fas fa-chevron-down"> </i> </a>  </li>
                                {% endif %}

                                {% if user.is_authenticated and user.is_staff%}
                                <li class="hassubs">
                                        <a href="#">Aggiungi Prodotto<i class="fas fa-chevron-down"></i></a>
                                        <ul>
                                            <li>
                                                <a href="../../products/add_product/computer">Computer<i class="fas fa-chevron-down computer"></i></a>
                                            </li>
                                            <li>
                                                <a href="../../products/add_product/smartphone">Smartphone<i class="fas fa-chevron-down smartphone"></i></a>
                                            </li>
                                            <li>
                                                <a href="../../products/add_product/televisore">Televisori<i class="fas fa-chevron-down computer"></i></a>
                                            </li>
                                            <li>
                                                <a href="../../products/add_product/cover">Cover<i class="fas fa-chevron-down computer"></i></a>
                                            </li>
                                            <li>
                                                <a href="../../products/add_product/cuffie">Cuffie<i class="fas fa-chevron-down computer"></i></a>
                                            </li>
                                        </ul>
                                </li>
                                <li class="hassubs">
                                    <a href="../../orders/my_orders">Ordini Prodotti<i class="fas fa-chevron-down"></i></a> 
                                </li>
                                <li class="hassubs">
                                    <a href="../../authentication/users">Gestisci Utenti<i class="fas fa-chevron-down"></i></a> 
                                </li>
                                {% else %}

                                <!-- Categories Menu -->
                                
                                <li class="hassubs">
                                        <a href="#">Categorie<i class="fas fa-chevron-down"></i></a>
                                        <ul>
                                            <li>
                                                <a href="../../products/results/?search=computer">Computer<i class="fas fa-chevron-down"></i></a>
                                            </li>
                                            <li>
                                                <a href="../../products/results/?search=smartphone">Smartphone<i class="fas fa-chevron-down"></i></a>
                                            </li>
                                            <li>
                                                <a href="../../products/results/?search=televisore">Televisori<i class="fas fa-chevron-down computer"></i></a>
                                            </li>
                                            <li>
                                                <a href="../../products/results/?search=cover">Cover<i class="fas fa-chevron-down computer"></i></a>
                                            </li>
                                            <li>
                                                <a href="../../products/results/?search=cuffie">Cuffie<i class="fas fa-chevron-down computer"></i></a>
                                            </li>
                                        </ul>
                                </li>
                                {% endif %}
                                
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </nav>

</header>