{% extends 'base.html' %}

{% block head %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">

{% endblock %}

{% block title %}{{title}} {% endblock %}

{% block content %}

{% include "header.html" %}

<!-- Visualizzazione prodotti -->
<center>

    
    {% if user.is_authenticated and user.is_staff%} <!--Se utente autenticato è amministratore -->
        <br>
        <br>
        <h3> Prodotti che hai inserito: </h3>
    {% endif %}
   
    {% if listaprodotti.count > 0%}
    <div class="container-fluid">
        <div class="row">
        {% for l in listaprodotti %}
                <div class="col-3">
                        <br> <br>
                        <p> <h3> <b> {{ l.name }} </b></h3> </p>

                        {% if user.is_authenticated and user.is_staff%}
                            <img src="{{ l.image.url }}" class="img-thumbnail">
                            <br>
                            <button type="submit" onclick="location.href='products/update_product/{{l.id}}'" class="btn btn-primary btn-sm update"> Modifica </button>
                            <button class="btn btn-primary btn-sm delete" type="submit" onclick="return confirm('Sei sicuro di voler eliminare il prodotto?')"> <a href="products/delete_product/{{l.id}}">  Elimina </a> </button> 
                        {% else %}
                        <a href = "products/category/{{l.product_code}}"> <img src="{{ l.image.url }}" style="width: 100%;">  </a>   <!--collegamento a specifiche prodotto -->
                        {% endif %}
                </div>
        {% endfor%}
        </div>
    </div>
    {% else %}
        Nessun prodotto caricato.
    {% endif %}
   <br> <br>

   {% if  not user.is_authenticated %} <!--Se utente non autenticato -->
    <form class="admin_access">
        <h4> Accesso amministratori: </h4>
        <a href="authentication/admin/signin"> <h5> Login </h5> </a> 
    </form>
    {%endif%}

</center>

{% endblock %}