{% extends 'base.html' %}

{% block head %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
{% load crispy_forms_tags %}

{% endblock %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}

{% include "header.html" %}

<center>
    <h4> Inserimento nuova recensione: </h4>
    <br>
    <form method="post" enctype="multipart/form-data" style= "width:500px">
            {% csrf_token %}
        <div class="container" >
            <div class="row justify-content-center">
                <h4> <b> Prodotto: </b> {{prodotto.name}} </h4> <br> <br>
                    {{ form.valutation | as_crispy_field }}
            </div> 
            <br>
            <div class="row justify-content-center">
                {{ form.description | as_crispy_field }}      
            </div>
            <br> <br>
            <button type="submit" name="review" class="btn btn-success"> Inserisci recensione </button>
            <br> <br>
        </div>
    </form>
</center>

{% endblock %}