{% extends 'base.html' %}

{% block head %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">

{% endblock %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}

{% include "header.html" %}

<center>
    <br>
    {% if listaordini.count > 0%}
    <div class="container text-center">
        <br>

        {% for l in listaordini %}
        <div class="row"> 
            <div class="col-md-6">
                <h4> {{l.product.name}} </h4> <br>
                <img src="{{ l.product.image.url}}" /> 
            </div>
            <div class="col-md-6">
                <br> <br>
                <b> <h4> Dettagli ordine: </b> </h4> <br>
                <b> Id ordine: </b> {{l.id_ordine}} <br>
                <b> Data ordine: </b> {{l.date}} <br>
                <b> Quantità acquistata: </b> {{l.quantity}} <br>
                <b> Prezzo: </b> {{l.product.price}} <br>
            </div>
        </div>
        <br> <br>
                
        {% endfor%}
        </div>
    </div>

    {% else %}
        <h4> Nessun ordine effettuato </h4>
    {% endif %}
   <br> <br>

</center>

{% endblock %}