{% extends 'base.html' %}

{% block head %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">

{% endblock %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}

{% include "header.html" %}

<center>

    <div class="container text-center">
        <br> <br>
        <br>
        <div class="row align-items-start" style="background-color:white; border-radius: 25px;" >
            <div class="col-6" >
                <br>
                <h3> <b>  {{prodotto.name}}  </b> </h3> 
                <img src="{{ prodotto.image.url}}" style="width:70%;" /> 
                    <br>
                     <b> Disponibilità: </b>
                        
                    {% if prodotto.quantity == 0 %}
                        Prodotto non disponibile
                    {% else %}
                        Prodotto disponibile <br>
                        Quantità disponibile: {{prodotto.quantity}}
                    {% endif %}
                    
                    <br> <br>
                    {% if prodotto.discount > 0 %}
                        <h4 class="prezzo_1"> Prezzo: <del> {{prodotto.full_price}}€ </del> &nbsp; -{{prodotto.discount}}%  </h4>
                        <h4 style="color:red"> {{prodotto.final_price}}€ </h4>
                    {% else %}
                        <h4 class="prezzo_1"> Prezzo: {{prodotto.full_price}}€ </h4>
                    {% endif %}

                    {% if user.is_authenticated and user.is_staff == 0 %}

                        <form method="post">
                            {% csrf_token %}
                                <label for="quantity">Quantità:  </label>

                            {% if prodotto.quantity == 0 %}
                                <input type="number" id="quantity" name="quantity" disabled="disabled" readonly="readonly" min="0" max={{prodotto.quantity}}> <br> <br>
                                <button type="submit" value="checkout" disabled="disabled" name="checkout" class="btn btn-primary"> Aggiungi al carrello </button>
                            {% else %}
                                <input type="number" id="quantity" name="quantity" min="1" max={{prodotto.quantity}}> <br> <br>
                                <button type="submit"  value="checkout" name="checkout" class="btn btn-primary"> Aggiungi al carrello </button>
                            {% endif%}
                           
                            <br><br> 
                        </form>

                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags}} alert-dismissible fade show" role="alert">
                                <strong>Message:</strong> {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}

                    {% endif %}

            </div>

            <div class="col-4 ">
                <br> <br> <br>
                <h4> <b> Specifiche prodotto: </b> </h4>  <br> 

                <b> Produttore: </b> {{prodotto.productor }}  <br>
                <b> Colore:  </b> {{prodotto.color}} <br>
                <b> Dimensioni: </b> {{prodotto.size}} cm <br>
                <b> Peso: </b> {{prodotto.weight }} Kg  <br>
            
            <! Dati tecnici >

                {% if prodotto.type == "computer"%} <! Se è un computer>
                    <b> Dimensione display: </b> {{prodotto.display_size}} pollici <br>
                    <b> Risoluzione display: </b> {{prodotto.display_resolution}} pixel <br>
                    <b> Processore:  </b> {{prodotto.cpu}}  <br>
                    <b> Memoria ram: </b> {{prodotto.ram }} GB  <br>
                    <b> Dimensione disco: </b> {{prodotto.disk_size}} GB <br>
                    <b> Tipo Disco: </b> {{prodotto.disk_type}}  <br>
                    <b> Sistem Operativo: </b> {{prodotto.operating_system}}  <br>
                    <b> Scheda grafica: </b> {{prodotto.graphic_card}}  <br>
                    <b> Autonomia Batteria: </b> {{prodotto.battery_autonomy}} h <br>
                    <b> Funzioni Aggiuntive: </b> {{prodotto.additional_function }} <br>
                {% endif %}

                {% if prodotto.type == "smartphone"%} <! Se è uno smartphone>
                    <b> Dimensione display: </b> {{prodotto.display_size}} pollici <br>
                    <b> Processore: </b> {{prodotto.cpu}}  <br>
                    <b> Memoria ram: </b> {{prodotto.ram }} GB  <br>
                    <b> Dimensione disco: </b> {{prodotto.disk_size}} GB <br>
                    <b> Sistem Operativo: </b> {{prodotto.operating_system}}  <br>
                    <b> Autonomia Batteria: </b> {{prodotto.battery_autonomy}} h <br>
                    <b> Fotocamera: </b> {{prodotto.camera}} Mpx <br>
                    <b> Funzioni Aggiuntive: </b> {{prodotto.additional_function }} <br>

                {% endif %}
            </div>

        </div>

        <br> <br>
        <div class="container" style="background-color:white; border-radius: 10px;">
            <br>
            <div class="row align-self-center">
                <h4> <b> Recensioni prodotto: </b> </h4>  <br> 
                {% if prodotto.recensioni.count == 0%} <!-- Se nessuna recensione per il prodotto -->
                    <h4> Nessuna recensione disponibile </h4>  <br>
                    <br>
                {% else %}
                    {% for r in prodotto.recensioni.all %}
                        <div class="card">
                            <br>
                            <div>
                                <img src="../../media/{{ r.valutation }}_stars.png" style="width:25%;" /> 
                            </div>
                            <div>
                                <h4> <b> {{r.client.user.first_name}} </b> </h4>  
                                <h4> {{r.date}} </h4>  
                            </div>
                            <div>
                                <h4> {{r.description}} </h4> 
                            </div>
                            <br>
                        </div>
                        
                        
                    {% endfor %}
                {% endif %}
            </div>
                {% if check == True %}
                <div>
                    <br> 
                    <button type="submit" name="review" class="btn btn-success"> <a href="../create_review/{{prodotto.product_code}}" style="color:white"> Recensisci prodotto </a> </button>
                </div>
                    <br>
                {% endif %}
                   
        </div> 
        

        <br> <br>
</center>

{% endblock %}
