{% extends 'base.html' %}

{% block head %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">

{% endblock %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}

{% include "header.html" %}

<center>
    <br> 
    {% if listaricerca.count == 1%}
        <h3> <b> La ricerca ha prodotto {{listaricerca.count}} risultato </b> </h3>
        <br> 
    {% else %}
        <h3> <b> La ricerca ha prodotto {{listaricerca.count}} risultati </b> </h3>
        <br>
    {% endif %}
    
    {% if listaricerca.count > 0%}
    <div class="container-fluid">
        <div class="row"> 
            {% for l in listaricerca %}
            <div class="col-3">
                <div class="card" style="border-radius: 25px;">
                    <br>
                    <a href= "../{{l.product_code}}" style="color:black;"> <h3> <b> {{ l.name }} </b> </h3> </a>
                    <a href = "../{{l.product_code}}"> <img src="{{ l.image.url }}" style="width: 50%;">  </a>   <!--collegamento a specifiche prodotto -->
                    <br>
                </div>
                <br>
            </div>
        <br> <br>     
        {% endfor%}
        </div>
    </div>

    {% else %}
        Nessun prodotto Trovato.
    {% endif %}

   <br> <br>

</center>

{% endblock %}