{% extends 'base.html' %}

{% block head %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
{% load crispy_forms_tags %}

{% endblock %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}

{% include "header.html" %}

<center>
    <br> <br>
    <div class="container" style= "background-color:white;border-radius: 25px;">
       
        <br>
        <br> 
        <div class="row">
            <div class="col" style= "top:+60px;">
                <h4> Prodotto:  <b> {{prodotto.name}} </b> </h4>
                <h4> Codice: <b> {{prodotto.product_code}} </b> </h4> 
                <h4> Categoria: <b> {{prodotto.type}} </b> </h4> <br>
                <img src="{{ prodotto.image.url}}" style="width:70%;border-radius: 25px;"/>
            </div>

            <div class="col" style= "width:30%;right:+20px;">
            <h3> <b> Dati prodotto: </b> </h3>

                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        {{ form.image | as_crispy_field }}
                        {{ form.name | as_crispy_field }}
                        {{ form.product_code | as_crispy_field }}
                        {{ form.productor | as_crispy_field }}
                        {{ form.color | as_crispy_field }}
                        {{ form.size | as_crispy_field }}
                        {{ form.weight | as_crispy_field }}
                        {{ form.full_price | as_crispy_field }}
                        {{ form.discount | as_crispy_field }}
                        {{ form.quantity | as_crispy_field }}
                        
                        <br> <br>
            </div>           
            <div class="col" style= "width:30%;right:10px;">  
                <h3> <b> Specifiche Tecniche: </b> </h3> <br>

                    {% if prodotto.type == "computer" %}
                
                        {{ form.display_size | as_crispy_field }}
                        {{ form.display_resolution | as_crispy_field }}
                        {{ form.cpu | as_crispy_field }}
                        {{ form.ram | as_crispy_field }}
                        {{ form.disk_size | as_crispy_field }}
                        {{ form.disk_type | as_crispy_field }}
                        {{ form.operating_system | as_crispy_field }}
                        {{ form.graphic_card | as_crispy_field }}
                        {{ form.battery_autonomy | as_crispy_field }}
                        {{ form.additional_function | as_crispy_field }}
                
                    {% elif prodotto.type == "smartphone" %}
 
                        {{ form.display_size | as_crispy_field }}
                        {{ form.cpu | as_crispy_field }}
                        {{ form.ram | as_crispy_field }}
                        {{ form.disk_size | as_crispy_field }}
                        {{ form.operating_system | as_crispy_field }}
                        {{ form.battery_autonomy | as_crispy_field }}
                        {{ form.camera | as_crispy_field }}
                        {{ form.additional_function | as_crispy_field }}
               
                    {% elif prodotto.type == "televisore" %}
                        
                        {{ form.display_size | as_crispy_field }}
                        {{ form.display_resolution | as_crispy_field }}
                        {{ form.display_technology | as_crispy_field }}
                        {{ form.display_quality | as_crispy_field }}
                        {{ form.cpu | as_crispy_field }}
                        {{ form.frame_frequency | as_crispy_field }}
                        {{ form.reception_type | as_crispy_field }}
                        {{ form.additional_function | as_crispy_field }}

                    {% elif prodotto.type == "cuffie" %}

                        {{ form.cuffie_type | as_crispy_field }}
                        {{ form.caratteristiche | as_crispy_field }}

                    {% elif prodotto.type == "cover" %}

                        {{ form.compatibilità | as_crispy_field }}
                        {{ form.caratteristiche | as_crispy_field }}

                    {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Aggiorna Prodotto</button>
                    </form>
                <br> <br>
            </div>
                
        </div>   
        {% for message in messages %}
                <div class="alert alert-{{ message.tags}} alert-dismissible fade show" role="alert" style="width:500px;">
                    <strong>Message:</strong> {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
        {% endfor %}
        <br> 
    </div>
        
<br> <br>

</center>

{%endblock%}