{% extends 'base.html' %}

{% block head %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">

{% endblock %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}

{% include "header.html" %}

<center>
    <br> <br>
    <div class="container" style= "background-color:white;border-radius: 25px;">
       
        <br>
        <br> 
        <div class="row">
            <div class="col" style= "top:+60px;">
                <h4> Prodotto:  <b> {{prodotto.name}} </b> </h4>
                <h4> Codice: <b> {{prodotto.product_code}} </b> </h4> 
                <h4> Categoria: <b> {{prodotto.type}} </b> </h4> <br>
                <img src="{{ prodotto.image.url}}" style="width:70%;border-radius: 25px;"/>
            </div>

            <div class="col" style= "width:30%;right:+20px;">
            <h3> <b> Dati prodotto: </b> </h3>

                    <form method="post" enctype="multipart/form-data">

                        {% csrf_token %}
                        
                        Immagine attuale: <b> {{prodotto.image}} </b> <br> 
                        <label for="image" class="form-label">Nuova immagine: </label>
                        <input type="file" class="form-control" name="image" accept="image/*">
                    
                        <label for="name" class="form-label">Nome: </label>
                        <input type="text"  class="form-control" name="name" value="{{prodotto.name}}" Required>

                        <label for="product_code" class="form-label">Codice Prodotto: </label>
                        <input type="text" class="form-control" name="product_code" value={{prodotto.product_code}} Required>

                        <label for="productor" class="form-label">Produttore: </label>
                        <input type="text" class="form-control" name="productor" value= {{prodotto.productor}} Required>

                        <label for="color" class="form-label">Colore: </label>
                        <input type="text" class="form-control" name="color" value={{prodotto.color}} Required>

                        <label for="size" class="form-label">Dimensione: (L/A/P)</label>
                        <input type="text" class="form-control" name="size" value={{prodotto.size}} Required>
                    
                        <label for="size" class="form-label">Peso: (Kg) </label>
                        <input type="number" step="0.01" class="form-control" name="weight" value={{prodotto.weight}} Required>
                    
                        <label for="full_price" class="form-label">Prezzo Pieno: (€) </label>
                        <input type="number" step="0.01" class="form-control" name="full_price" value={{prodotto.full_price}} Required>

                        <label for="discount" class="form-label">Sconto: (%) </label>
                        <input type="number" step="1" class="form-control" name="discount" value={{prodotto.discount}} Required>
                    
                        <label for="quantity" class="form-label">Quantità: </label>
                        <input type="number" class="form-control" name="quantity" value={{prodotto.quantity}} Required>

                        <br> <br>
            </div>           
            <div class="col" style= "width:30%;right:10px;">  
                <h3> <b> Specifiche Tecniche: </b> </h3> <br>

                    {% if prodotto.type == "computer" %}
                
                        <label for="display_size" class="form-label">Dimensione Display: (pollici)</label>
                        <input type="number" step="0.01" class="form-control" name="display_size" value={{prodotto.display_size}} Required>

                        <label for="display_resolution" class="form-label">Risoluzione Display: (pixel)</label>
                        <input type="text" class="form-control" name="display_resolution" value={{prodotto.display_resolution}} Required>    
                    
                        <label for="cpu" class="form-label">CPU: </label>
                        <input type="text" class="form-control" name="cpu" value="{{prodotto.cpu}}" Required>
                    
                        <label for="ram" class="form-label">RAM: (GB) </label>
                        <input type="number" class="form-control" name="ram" value={{prodotto.ram}} Required>
                    
                        <label for="disk_size" class="form-label">Dimensione disco: (GB)</label>
                        <input type="number" step="0.01" class="form-control" name="disk_size" value={{prodotto.disk_size}} Required>
                    
                        <label for="display_type" class="form-label">Tipo di disco: </label>
                        <input type="text" class="form-control" name="disk_type" value="{{prodotto.disk_type}}" Required>
                    
                        <label for="operating_system" class="form-label">Sistema Operativo: </label>
                        <input type="text" class="form-control" name="operating_system" value="{{prodotto.operating_system}}" Required>
                    
                        <label for="graphic_card" class="form-label">Scheda Grafica: </label>
                        <input type="text" class="form-control" name="graphic_card" value="{{prodotto.graphic_card}}" Required>
                    
                        <label for="battery_autonomy" class="form-label">Autonomia batteria: (ore) </label>
                        <input type="number" step="0.01" class="form-control" name="battery_autonomy" value={{prodotto.battery_autonomy}} Required>
                    
                        <label for="additional_function" class="form-label">Funzioni aggiuntive: </label>
                        <input type="text" class="form-control" name="additional_function" value="{{prodotto.additional_function}}" Required>
                    
                    {% endif%}

                    {% if prodotto.type == "smartphone" %}

                        <label for="display_size" class="form-label">Dimensione Display: (pollici)</label>
                        <input type="number" step="0.01" class="form-control" name="display_size" value={{prodotto.display_size}} Required>
                    
                        <label for="cpu" class="form-label">CPU: </label>
                        <input type="text" class="form-control" name="cpu" value={{prodotto.cpu}} Required>
                    
                        <label for="ram" class="form-label">RAM: (GB) </label>
                        <input type="number" class="form-control" name="ram" value={{prodotto.ram}}  Required>
                    
                        <label for="disk_size" class="form-label">Dimensione disco: (GB)</label>
                        <input type="number" step="0.01" class="form-control" name="disk_size" value={{prodotto.disk_size}}  Required>
                    
                        <label for="operating_system" class="form-label">Sistema Operativo: </label>
                        <input type="text" class="form-control" name="operating_system" value="{{prodotto.operating_system}}"  Required>
                    
                        <label for="battery_autonomy" class="form-label">Autonomia batteria: (ore) </label>
                        <input type="number" step="0.01" class="form-control" name="battery_autonomy" value={{prodotto.battery_autonomy}}  Required>
                    
                        <label for="camera" class="form-label">Fotocamera: (Mpx) </label>
                        <input type="number" step="0.01" class="form-control" name="camera" value={{prodotto.camera}}  Required>
                    
                        <label for="additional_function" class="form-label">Funzioni aggiuntive: </label>
                        <input type="text" class="form-control" name="additional_function" value="{{prodotto.additional_function}}"  Required>
                    
                    {% endif%}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Aggiorna Prodotto</button>
                    </form>
                <br> <br>
            </div>
                
        </div>   
        {% for message in messages %}
                <div class="alert alert-{{ message.tags}} alert-dismissible fade show" role="alert">
                    <strong>Message:</strong> {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
        {% endfor %}
    </div>
        
<br> <br>

</center>

{%endblock%}